---
import NavBar from "../../../components/common/NavBar.astro";
import CreateForm from "../../../components/apps/meetup-maker/CreateForm.vue";
import Layout from "../../../layouts/Layout.astro";
import appsData from "../../../data/apps/apps.json";
import Seo from "../../../components/seo/Seo.astro";
import seoImg from "../../../img/heroes/MEETUP-MAKER.jpg";

export const prerender = true;
const heroText = appsData["meetup-maker"].heroText;
---
<Seo {heroText} {seoImg} pageName={"MeetupMaker"} path="apps/meetup-maker/create"/>

<Layout>
  <div slot="main">
    <NavBar/>
    <h1 class="my-8 text-6xl max-w-xl mx-2 sm:mx-auto font-extrabold bg-gradient-to-b from-ew-300 to-ew-500 text-transparent bg-clip-text">
      Create Meetup
    </h1>
    <CreateForm client:load/>
  </div>
</Layout>
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css" rel="stylesheet">
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>