---
import NavBar from "../../../components/common/NavBar.astro";
import Layout from "../../../layouts/Layout.astro";
import Seo from "../../../components/seo/Seo.astro";
import appsData from "../../../data/apps/apps.json";
import seoImg from "../../../img/heroes/VIM-TIER.jpg";
import VimTier from "../../../components/apps/vim-tier/VimTier.vue";
import PageFind from "../../../components/common/PageFind.astro";

export const prerender = true;
const heroText = appsData["vim-tier"].heroText;
---
<Seo {heroText} pageName={"Vim Tier"} path="apps/vim-tier"/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <PageFind pageName={"Vim Tier (Create Tierlist)"} heroText={heroText}/>
    <VimTier client:only="vue"/>
  </div>
</Layout>