---
import NavBar from "../../../components/common/NavBar.astro";
import Layout from "../../../layouts/Layout.astro";
import Footer from "../../../components/common/Footer.astro";
import Seo from "../../../components/seo/Seo.astro";
import appsData from "../../../data/apps/apps.json";
import seoImg from "../../../img/heroes/VIM-TIER.jpg";

export const prerender = true;
const heroText = appsData["vim-tier"].heroText;
---
<Seo {heroText} {seoImg} pageName={"VimTier"} path="apps/vim-tier"/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <div class="max-w-3xl mx-auto mt-20 place-content-center my-auto">
      <h1 class="text-6xl text-center font-extrabold bg-gradient-to-b from-ew-300 to-ew-500 text-transparent bg-clip-text">
        Make Tier Lists with just your keyboard.
      </h1>
      <p class="text-center mt-8 ">VimTier provides a keyboard-centric approach to making tier lists!</p>
      <div class="flex justify-center mt-8 gap-4">
        <a href="/apps/vim-tier/create" type="button" class="bg-ew-300 hover:bg-ew-500 dark:text-gray-800 py-2 px-4 rounded-md content-center text-gray-100">
          Get Started
        </a>
      </div>
    </div>
    <Footer site="apps"/>
  </div>
</Layout>