---
import NavBar from "../../../../components/common/NavBar.astro";
import CityHedger from "../../../../components/games/city-hedger/CityHedger";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import gamesData from "../../../../data/games/games.json";
import citiesData from "../../../../data/games/city-hedger/cities.json";
import seoImg from '/src/img/heroes/LOCATION-GUESSR.jpg';

export const prerender = false;
var { id, cty } = Astro.params;

// assign deck to citiesData[cty] if cty is a valid key in citiesData
let deck = {};
Object.entries(citiesData).forEach(([code, cities]) => {
  const passedCities = cities.filter((city: { cty: string }) => city.cty === cty);
  if (passedCities.length > 0) {
    deck[code] = passedCities;
  }
});

const heroText = gamesData["location-guessr"].heroText;
---

<!-- <Seo {heroText} {seoImg} pageName={'City Hedger'} path={`games/city-hedger/${id}`}/> -->

<Layout>
  <div slot="main">
    <NavBar/>
    <CityHedger client:only="react" id={id || ""} data={deck} title={cty || ""}/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  </div>
</Layout>