---
import NavBar from "../../../components/common/NavBar.astro";
import Seo from "../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/CONVO-STARTER.jpg';
import gamesData from "../../../data/games/games.json";
import Layout from "../../../layouts/Layout.astro";
import ConvoStarterRoomCreate from "../../../components/games/convo-starter/ConvoStarterRoomCreate";
import CoolBackground, { Color } from "../../../components/common/CoolBackground.tsx";
const heroText = gamesData["convo-starter"].heroText;
---

<Seo {heroText} {seoImg} pageName={"Convo Starter"} path={`games/convo-starter`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col bg-dt-700">
    <NavBar withDarkMode={false}/>
    <CoolBackground client:only="react" color={Color.DT}/>
    <div class="z-10 fixed w-screen h-screen grid place-items-center p-4">
      <ConvoStarterRoomCreate client:only="react"/>
    </div>
  </div>
</Layout>