---
import ColorQuiz from "../../../components/quizzes/color/ColorQuiz.svelte";
import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/common/NavBar.astro";
import Seo from "../../../components/seo/Seo.astro";
import PageFind from "../../../components/common/PageFind.astro";
import seoImg from "../../../img/heroes/COLOR.jpg";

const instructions = "This quiz will test your knowledge of 6-digit hex color codes. For five rounds, you will be shown a color and asked to guess the hex code. Your score is calculated based on how close your guess is. Good luck!";
---
<Seo heroText={instructions} pageName="Color Quiz" path={`quizzes/color`}/>

<Layout>
  <div slot="main">
    <NavBar/>
    <PageFind pageName="Color Quiz" heroText={instructions}/>
    <ColorQuiz client:load key="color-quiz" isDaily={true}/>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-wordpress-admin/wordpress-admin.css" rel="stylesheet">
    <script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  </div>
</Layout>