---
import NavBar from "../../../components/common/NavBar.astro";
import Layout from "../../../layouts/Layout.astro";
import { SEO } from "astro-seo";
import appsData from "../../../data/apps/apps.json";
import seoImg from "../../../img/heroes/MEETUPMAKER.jpg";
import VimTier from "../../../components/vimtier/VimTier.vue";

export const prerender = true;
const heroText = appsData.meetupmaker.heroText;
---
<SEO
  title={`VimTier | Izz Hafeez`}
  description={heroText}
  canonical={`https://izzhafeez.com/apps/vimtier/create/`}
  openGraph={{
    basic: {
      title: `VimTier | Izz Hafeez`,
      type: "website",
      image: seoImg.src,
      url: `https://izzhafeez.com/apps/vimtier/create/`
    }
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: seoImg.src,
      },
      { name: "twitter:title", content: `VimTier | Izz Hafeez`},
      { name: "twitter:description", content: heroText },
    ],
  }}
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <VimTier client:only="vue"/>
  </div>
</Layout>