---
import Layout from "../../../../layouts/Layout.astro";
import MapQuiz from "../../../../components/map/MapQuiz.svelte";
import { allItemsDict } from "../../../../items/getItems";
import { fullSanitise } from "../../../../utils/string";
import Location from "../../../../components/map/Location";

export async function getStaticPaths() {
  return Object.entries(allItemsDict.quiz.map).map(([k, v]) => ({
    params: { key: k },
    props: { item: v }
  }));
}

export const prerender = true;
const item = Astro.props.item;
const locationDict: {[key: string]: { searchTerms: string[], cleanText: string, list: number[]}} = {};
const locationList: Location[] = [];

for (const [k, v] of Object.entries(item.data)) {
  const { searchTerms, key, cleanText } = fullSanitise(k);
  const lat = (v as number[])[1];
  const lng = (v as number[])[0];
  if (!(key in locationDict)) locationDict[key] = { searchTerms, cleanText, list: [] };
  const location = new Location({
    latitude: lat, longitude: lng, label: cleanText, color: "ns-500"
  })
  locationList.push(location);
  locationDict[key].list.push(locationList.length - 1);
}
---

<Layout>
  <div slot="main">
    <MapQuiz client:only="svelte" locationDict={locationDict} locationList={locationList}/>
  </div>
</Layout>