---
import { toName } from '../../utils/string';

const { text } = Astro.props;
const color = 'bg-ew-300/20 dark:bg-ew-300/20 text-ew-600 dark:text-ew-100 hover:bg-ew-300/50 dark:hover:bg-ew-300/50';

const splitted = text.split('/');
const key = splitted[1].split('#')[1];
let label = toName(key);
let link = '/' + text;
---

<div transition:name={''}>
  <a href={link} class={`button text-xs py-1 px-2 rounded-xl ${color}`}>{ label }</a>
</div>