---
import NavBar from "../../../components/common/NavBar.astro";
import Seo from "../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/TRUTH-OR-DARE.jpg';
import gamesData from "../../../data/games/games.json";
import Layout from "../../../layouts/Layout.astro";
import TruthDareRoomCreate from "../../../components/games/truth-or-dare/TruthDareRoomCreate";
import CoolBackground, { Color } from "../../../components/common/CoolBackground";
import PageFind from "../../../components/common/PageFind.astro";
const heroText = gamesData["truth-or-dare"].heroText;
---

<Seo {heroText} pageName={"Truth or Dare"} path={`games/truth-or-dare`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col bg-ew-700">
    <NavBar withDarkMode={false}/>
    <PageFind pageName={"Truth or Dare"} heroText={heroText}/>
    <CoolBackground client:only="react" color={Color.EW}/>
    <div class="z-10 fixed w-screen h-screen grid place-items-center p-4">
      <TruthDareRoomCreate client:only="react"/>
    </div>
  </div>
</Layout>