---
import NavBar from "../../../../components/common/NavBar.astro";
import TruthDare from "../../../../components/games/truth-or-dare/TruthDare";
import CoolBackground, { Color } from "../../../../components/common/CoolBackground";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/TRUTH-OR-DARE.jpg';
import gamesData from "../../../../data/games/games.json";

export const prerender = false;
const { id } = Astro.params;
const heroText = gamesData["truth-or-dare"].heroText;
---

<Seo {heroText} pageName={'Truth or Dare'} path={`games/truth-or-dare/${id}`}/>

<link
  rel="stylesheet"
  type="text/css"
  charset="UTF-8"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col bg-ew-700">
    <NavBar withDarkMode={false}/>
    <CoolBackground client:only="react" color={Color.EW}/>
    <div class="z-10 fixed w-screen h-screen grid place-items-center p-2">
      <TruthDare client:only="react" id={id || ""}/>
    </div>
  </div>
</Layout>