---
import NavBar from "../../../../components/common/NavBar.astro";
import ConvoStarterGameCreate from "../../../../components/games/convo-starter/ConvoStarterGameCreate";
import CoolBackground from "../../../../components/common/CoolBackground.tsx";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/MATH-ATTACK.jpg';
import gamesData from "../../../../data/games/games.json";
export const prerender = false;
const { id } = Astro.params;
const heroText = gamesData["stat-attack"].heroText;
---

<Seo {heroText} {seoImg} pageName={'Math Attack'} path={`games/math-attack/${id}`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col bg-dt-700">
    <NavBar withDarkMode={false}/>
    <CoolBackground client:only="react"/>
    <div class="z-10">
      <ConvoStarterGameCreate client:only="react" id={id || ""}/>
    </div>
  </div>
</Layout>