---
import NavBar from "../../../../components/common/NavBar.astro";
import ConvoStarter from "../../../../components/games/convo-starter/ConvoStarter";
import CoolBackground from "../../../../components/common/CoolBackground.tsx";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/MATH-ATTACK.jpg';
import gamesData from "../../../../data/games/games.json";

export const prerender = false;
const { id } = Astro.params;
const heroText = gamesData["convo-starter"].heroText;
---

<Seo {heroText} {seoImg} pageName={'Convo Starter'} path={`games/convo-starter/${id}`}/>

<link
  rel="stylesheet"
  type="text/css"
  charset="UTF-8"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col bg-dt-700">
    <NavBar withDarkMode={false}/>
    <CoolBackground client:only="react"/>
    <div class="z-10 p-2">
      <ConvoStarter client:only="react" id={id || ""}/>
    </div>
  </div>
</Layout>