---
import Footer from '../../../components/common/Footer.astro';
import Hero from '../../../components/common/Hero.astro';
import NavBar from '../../../components/common/NavBar.astro';
import Seo from '../../../components/seo/Seo.astro';
import blogData from '../../../data/blog/blog.json';
import seoImg from '../../../img/heroes/MOD-REVIEWS.jpg';
import Layout from '../../../layouts/Layout.astro';
import modData from '../../../data/blog/mod-reviews.json';
import ModulesSection from '../../../components/blog/ModulesSection.tsx';

const heroText = blogData["mod-reviews"].heroText;
---

<Seo {heroText} pageName={"Module Reviews"} path={`blog/mod-reviews`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="MODULE REVIEWS" text={heroText} site="blog"/>
    <ModulesSection modData={modData} client:load/>
    <Footer site="blog"/>
  </div>
</Layout>