---
import NavBar from "../../../components/common/NavBar.astro";
import Seo from "../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/MATH-ATTACK.jpg';
import gamesData from "../../../data/games/games.json";
import Layout from "../../../layouts/Layout.astro";
import PageFind from "../../../components/common/PageFind.astro";
import RoomCreateContainer from "../common/RoomCreateContainer.astro";
const heroText = gamesData["math-attack"].heroText;
---

<Seo {heroText} {seoImg} pageName={"Math Attack"} path={`games/math-attack`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <PageFind pageName={"Math Attack"} heroText={heroText}/>
    <RoomCreateContainer title="Math Attack" heroText={heroText} />
  </div>
</Layout>