---
import ItemPreviews from '@components/ItemPreviews';
import { allItems } from '@items/getItems';
import Layout from '../../../layouts/Layout.astro';

export const getStaticPaths = () => allItems.map(item => ({
  params: {
    category: item.category,
    type: item.type,
  },
  props: {
    category: item.category,
    type: item.type
  }
}));

export const prerender = true;
const { category, type } = Astro.params;
const items = allItems.filter(item => item.category === category && item.type === type);
---

<Layout>
  <div slot="main">
  {items[0] && <ItemPreviews size={items[0].getSize()} items={allItems
    .filter(item => item.category === category && item.type === type)}/>}
  </div>
<Layout/>