---
import NavBar from "../../../components/common/NavBar.astro";
import Seo from "../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/MIDPOINT-MASTER.jpg';
import gamesData from "../../../data/games/games.json";
import Layout from "../../../layouts/Layout.astro";
import MidpointMasterRoomCreate from "../../../components/games/midpoint-master/MidpointMasterRoomCreate";
import PageFind from "../../../components/common/PageFind.astro";
const heroText = gamesData["midpoint-master"].heroText;
---

<Seo {heroText} {seoImg} pageName={"Midpoint Master"} path={`games/midpoint-master`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <PageFind pageName={"Midpoint Master"} heroText={heroText}/>
    <MidpointMasterRoomCreate client:only="react"/>
  </div>
</Layout>