---
const { site } = Astro.props;

let gradientColor = 'from-lrt-700/80 to-lrt-300/20';

switch (site) {
  case 'portfolio':
    gradientColor = 'from-ew-700/80 to-ew-300/20';
    break;
  case 'quizzes':
    gradientColor = 'from-ns-700/80 to-ns-300/20';
    break;
}
---
<div id="hero" class="bg-opacity-50 bg-cover h-80 w-screen" style={`background-image: url('/img/heroes/${Astro.props.label}.jpg');`}>
  <div class={`bg-gradient-to-r ${gradientColor} w-screen h-80 overflow-clip grid content-center text-center p-8`}>
    <h1 class="font-extrabold text-5xl text-white mb-2">{Astro.props.label}</h1>
    <p class="text-white max-w-lg mx-auto">{Astro.props.text}</p>
  </div>
</div>