---
---
<div id="hero" class="bg-opacity-50 bg-cover h-80 w-screen" style="background-image: url('/img/heroes/art.jpg');">
  <div class="bg-gradient-to-r from-ew-700/80 to-ew-300/20 w-screen h-80 overflow-clip grid content-center text-center">
    <h1 class="font-extrabold text-5xl text-white">{Astro.props.label}</h1>
    <p class="text-white">{Astro.props.text}</p>
  </div>
</div>