---
const { site, label, text } = Astro.props;

let color = 'from-gray-300 to-gray-500';
switch (site) {
  case 'apps':
    color = 'from-ew-300 to-ew-500';
    break;
  case 'quizzes':
    color = 'from-ns-300 to-ns-500';
    break;
  case 'portfolio':
    color = 'from-ne-300 to-ne-500';
    break;
  case 'blog':
    color = 'from-cc-300 to-cc-500';
    break;
  case 'games':
    color = 'from-dt-300 to-dt-500';
    break;
}
---
<div id={label} class="my-20">
  <div class="max-w-6xl mx-auto text-center">
    <h1 data-pagefind-weight="10" class={`font-extrabold text-3xl md:text-6xl bg-gradient-to-b ${color} text-transparent bg-clip-text`}>{label.toUpperCase()}</h1>
    <p data-pagefind-weight="4" class="relative z-0 px-4 md:px-0">{text}</p>
  </div>
</div>