---
import { capitalise } from 'utils/string';
import ThemeIcon from './ThemeIcon.astro';
const site = Astro.url.pathname.split('/')[1];
type Option = { href:string, label:string };
let options: Option[] = [];
switch (site) {
  case 'portfolio':
    options = [
      { href: '/portfolio/art', label: 'Art' },
      { href: '/portfolio/awards', label: 'Awards' },
      { href: '/portfolio/courses', label: 'Courses' },
      { href: '/portfolio/experience', label: 'Experience' },
      { href: '/portfolio/skills', label: 'Skills' },
    ];
    break;
}
---
<nav class="backdrop-blur-xl border-gray-200 dark:border-gray-700 z-40 h-20 items-center flex top-0 w-screen" transition:name="nav-bar">
  <div class="text-white p-4 flex gap-4">
    <a href="/" class="w-10">
      <img src="/img/desmosito-black-trans.png" class="h-10 dark:invert"/>
    </a>
    <a href={'/' + site} class="">
      <h1 class="text-black dark:text-white font-extrabold text-3xl">{capitalise(site)}</h1>
    </a>
  </div>
  <div class="ms-auto items-center float-right gap-4 h-20 p-4 hidden xl:flex">
    <ThemeIcon/>
    {options.map(option => <a href={option.href} class="p-2 rounded-lg text-black dark:text-white hover:bg-ew-500/20 dark:hover:bg-ew-300/20 dark:hover:text-white">{option.label}</a>)}
  </div>
  <div class="ms-auto p-4 block xl:hidden"><img src="/img/common/burger.svg" class="h-10"/></div>
</nav>