---
const { tags=[], site } = Astro.props;

let tagColor = "text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-900";
switch (site) {
  case 'apps':
    tagColor = "text-ew-900 dark:text-ew-100 bg-ew-100 dark:bg-ew-900";
    break;
  case 'portfolio':
    tagColor = "text-ne-900 dark:text-ne-100 bg-ne-100 dark:bg-ne-900";
    break;
  case 'quizzes':
    tagColor = "text-ns-900 dark:text-ns-100 bg-ns-100 dark:bg-ns-900";
    break;
  case 'blog':
    tagColor = "text-cc-900 dark:text-cc-100 bg-cc-100 dark:bg-cc-900";
    break;
  case 'games':
    tagColor = "text-dt-900 dark:text-dt-100 bg-dt-100 dark:bg-dt-900";
    break;
}
---

<div class="flex flex-wrap gap-1 my-2 max-w-sm">{tags.map((tag: string) =>
  <span class={`${tagColor} text-xs rounded-md px-2 py-1 transition-colors duration-500`}>{tag}</span>)}</div>