---
import NavBar from "../../../components/common/NavBar.astro";
import RouteWeaver from "../../../components/apps/route-weaver/RouteWeaver.vue";
import Layout from "../../../layouts/Layout.astro";
import appsData from "../../../data/apps/apps.json";
import Seo from "../../../components/seo/Seo.astro";
import seoImg from "../../../img/heroes/ROUTE-WEAVER.jpg";
import PageFind from "../../../components/common/PageFind.astro";

export const prerender = true;
const heroText = appsData["route-weaver"].heroText;
---
<Seo {heroText} {seoImg} pageName={"Route Weaver"} path="apps/route-weaver"/>

<Layout>
  <div slot="main">
    <NavBar/>
    <PageFind pageName={"Route Weaver (Create Route)"} heroText={heroText}/>
    <RouteWeaver client:only="vue"/>
  </div>
</Layout>