---
import NavBar from "../../../components/common/NavBar.astro";
import Seo from "../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/FREQUENCY-GUESSR.jpg';
import gamesData from "../../../data/games/games.json";
import Layout from "../../../layouts/Layout.astro";
import PageFind from "../../../components/common/PageFind.astro";
import RoomCreateContainer from "../common/RoomCreateContainer.astro";
const heroText = gamesData["frequency-guessr"].heroText;
---

<Seo {heroText} pageName={"Frequency Guessr"} path={`games/frequency-guessr`}/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <PageFind pageName={"Frequency Guessr"} heroText={heroText}/>
    <RoomCreateContainer title="Frequency Guessr" heroText={heroText} />
  </div>
</Layout>