---
import { ViewTransitions, fade } from 'astro:transitions';
---

<html lang="en">
  <head>
    <ViewTransitions/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./desmosito-icon.png" />
    <link rel="apple-touch-icon" href="./logo192.png" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="./desmosito-big-image.png"/>
    <style is:global>
      @import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900");
      @import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
      
      html {
        padding: 0
      }

      body {
        margin: 0;
        line-height: 1.2;
        font-family: 'Inter', 'Raleway', 'Ubuntu', 'Fira Sans';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-attachment: fixed;
        /* background: radial-gradient(50rem 50rem at var(--glow-x) var(--glow-y), #F0F0F0, #FFF); */
      }

      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
      }

      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#6b7280, #6b7280);
        background-size: 0 2px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .5s ease-in-out;
      }

      .link-underline:hover {
        background-size: 100% 2px;
        background-position: 0 100%
      }
    </style>
  </head>
  <body id='body' class="overflow-x-hidden overflow-y-scroll">
    <div id="bg" class="fixed w-screen h-screen top-0 left-0 -z-10 bg-li-bg dark:bg-da-bg transition-colors duration-200"></div>
    <slot name="main"/>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <script is:inline src="https://kit.fontawesome.com/a05d281c15.js" crossorigin="anonymous"></script>
  </body>
</html>