---
---

<html lang="en">
  <head>
    <script is:inline>
      const setDarkMode = () => {
        if (typeof window !== "undefined") {
          const isSystemColorSchemeDark = window.matchMedia(
            "(prefers-color-scheme: dark)"
          ).matches
          const storageTheme = localStorage.getItem("theme")
          if (!storageTheme && isSystemColorSchemeDark) {
            document.documentElement.classList.add("dark");
          } else if (storageTheme === "dark") {
            document.documentElement.classList.add("dark");
          }
        }
      }
    
      // Runs on initial navigation
      setDarkMode()
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/desmosito-icon.png" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="/desmosito-big-image.png"/>
    <style is:global>
      @import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900");
      @import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
      
      html {
        padding: 0
      }

      body {
        margin: 0;
        padding: 0;
        line-height: 1.2;
        font-family: 'Inter', 'Raleway', 'Ubuntu', 'Fira Sans';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-attachment: fixed;
        /* background: radial-gradient(50rem 50rem at var(--glow-x) var(--glow-y), #F0F0F0, #FFF); */
      }

      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
      }

      @tailwind base;
      @tailwind components;
      @tailwind utilities;
    </style>
  </head>
  <body id='body' class="transition duration-500 overflow-x-hidden overflow-y-scroll text-gray-900 dark:text-gray-100">
    <div id="bg" class="transition duration-500 fixed w-screen h-screen top-0 left-0 -z-10 bg-gray-100 dark:bg-gray-800"></div>
    <slot name="main"/>
    <script is:inline src="https://kit.fontawesome.com/a05d281c15.js" crossorigin="anonymous"></script>
    <script is:inline src="https://unpkg.com/scrollreveal"></script>
  </body>
  <script is:inline>
    ScrollReveal().reveal('.reveal', { duration: 600, delay: 300, distance: '100px', easing: 'cubic-bezier(0.5, 0, 0, 1)' });
  </script>
</html>