---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Hero from '../../components/common/Hero.astro';
import experienceData from '../../data/portfolio/experience.json';
import ExperiencePreview from '../../components/portfolio/ExperiencePreview.astro';
import Footer from '../../components/common/Footer.astro';
import { AstroSeo } from '@astrolib/seo';

interface ExperienceData {
  title: string,
  organisation: string,
  duration: string,
  overview: string,
  related: string[],
  rank?: number
}

type ExperienceJson = {[key: string]: ExperienceData };

const experiences = Object.entries(experienceData as ExperienceJson).map(([key, value]) => {
  return {
    key,
    title: value.title,
    organisation: value.organisation,
    duration: value.duration,
    overview: value.overview,
    rank: value.rank ?? 0,
    related: value.related
  }
}).sort((a,b) => -a.rank + b.rank);

const heroText = "Here are some of the invaluable experiences I've gained through internships, work and beyond."
---
<AstroSeo
  title="Experience | Izz Hafeez"
  description={heroText}
  canonical="https://izzhafeez.com/portfolio/experience"
  openGraph={{
    title: "Experience | Izz Hafeez",
    description: heroText,
    url: "https://izzhafeez.com/portfolio/experience",
    type: "website",
    images: [
      {
        url: "/img/heroes/EXPERIENCE.jpg",
        width: 800,
        height: 600,
        alt: "Experience | Izz Hafeez"
      }
    ]
  }}
/>
<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="EXPERIENCE" text={heroText} site="portfolio"/>
    <section class="my-auto grid grid-cols-1 gap-2 relative p-2 max-w-6xl mx-auto" transition:animate="slide">
      {experiences.map(experience => <ExperiencePreview experience={experience}/>)}
    </section>
    <Footer site="portfolio"/>
  </div>
</Layout>