---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Hero from '../../components/common/Hero.astro';
import experienceData from '../../data/portfolio/experience.json';
import ExperiencePreview from '../../components/portfolio/ExperiencePreview.astro';
import Footer from '../../components/common/Footer.astro';

interface ExperienceData {
  title: string,
  organisation: string,
  duration: string,
  overview: string,
  related: string[],
  rank?: number
}

type ExperienceJson = {[key: string]: ExperienceData };

const experiences = Object.entries(experienceData as ExperienceJson).map(([key, value]) => {
  return {
    key,
    title: value.title,
    organisation: value.organisation,
    duration: value.duration,
    overview: value.overview,
    rank: value.rank ?? 0,
    related: value.related
  }
}).sort((a,b) => -a.rank + b.rank);

const heroText = "Here are some of the invaluable experiences I've gained through internships, work and beyond."
---
<Layout>
  <div slot="main" class="">
    <NavBar client:load transition:persist/>
    <Hero label="EXPERIENCE" text={heroText} site="portfolio"/>
    <section class="grid grid-cols-1 gap-2 relative p-2 max-w-6xl mx-auto">
      {experiences.map(experience => <ExperiencePreview client:visible experience={experience}/>)}
    </section>
    <Footer color="ew"/>
  </div>
</Layout>