---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.astro';
import Hero from '../../components/common/Hero.astro';
import projectsData from '../../data/portfolio/projects.json';
import ProjectPreview from '../../components/portfolio/ProjectPreview.astro';
import Footer from '../../components/common/Footer.astro';
import { toName } from '../../utils/string';
import portfolioData from '../../data/portfolio/portfolio.json';
import Seo from '../../components/seo/Seo.astro';
import seoImg from '../../img/heroes/PROJECTS.jpg';

interface ProjectData {
  title?: string,
  repo?: string,
  overview?: string,
  related?: string[],
  imgPath?: string,
  link?: string,
  rank?: number
}

type ProjectJson = {[key: string]: ProjectData };

const projects = Object.entries(projectsData as ProjectJson).map(([key, value]) => {
  return {
    key,
    title: value.title || toName(key),
    repo: value.repo,
    link: value.link,
    overview: value.overview,
    imgPath: value.imgPath,
    rank: value.rank ?? 0,
    related: value.related ?? []
  }
});

const heroText = portfolioData.projects.heroText;
---
<Seo {heroText} {seoImg} pageName={"Projects"} path="portfolio/projects"/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="PROJECTS" text={heroText} site="portfolio"/>
    <section class="my-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 relative p-2 max-w-6xl mx-auto" transition:animate="slide">
      {projects.map(project => <ProjectPreview project={project}/>)}
    </section>
    <Footer site="portfolio"/>
  </div>
</Layout>