---
import Footer from '../../components/common/Footer.astro';
import Hero from '../../components/common/Hero.astro';
import NavBar from '../../components/common/NavBar.astro';
import SkillPreview from '../../components/portfolio/SkillPreview.astro';
import skillsData from '../../data/portfolio/skills.json';
import Layout from '../../layouts/Layout.astro';
import { toName } from '../../utils/string';
import portfolioData from '../../data/portfolio/portfolio.json';

interface SkillData {
  title?: string,
  rank?: number,
  level?: number
}

type SkillJson = {[key: string]: SkillData};

const skills = Object.entries(skillsData as SkillJson).map(([key, value]) => {
  return {
    key,
    title: value.title || toName(key),
    level: value.level || 3,
    rank: value.rank ?? 0
  };
}).sort((a,b) => -a.rank + b.rank).sort((a,b) => -a.level + b.level);

const heroText = portfolioData.skills.heroText;
---
<Layout>
  <div slot="main" class="">
    <NavBar/>
    <Hero label="SKILLS" text={heroText} site="portfolio"/>
    <section class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 3xl:grid-cols-6 gap-4 relative p-2 max-w-6xl mx-auto" transition:animate="slide">
      {skills.map(skill => <SkillPreview  skill={skill}/>)}
    </section>
    <Footer color="ew"/>
  </div>
</Layout>