---
import Footer from '../../components/common/Footer.astro';
import Hero from '../../components/common/Hero.astro';
import NavBar from '../../components/common/NavBar.astro';
import skillsData from '../../data/portfolio/skills.json';
import Layout from '../../layouts/Layout.astro';
import portfolioData from '../../data/portfolio/portfolio.json';
import Seo from '../../components/seo/Seo.astro';
import seoImg from '../../img/heroes/SKILLS.jpg';
import SkillsSection from '../../components/portfolio/SkillsSection.tsx';

const heroText = portfolioData.skills.heroText;
---
<Seo {heroText} {seoImg} pageName={"Skills"} path="portfolio/skills"/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col">
    <NavBar/>
    <Hero label="SKILLS" text={heroText} site="portfolio"/>
    <SkillsSection data={skillsData} client:load>
    <Footer site="portfolio"/>
  </div>
</Layout>