---
import NavBar from "../../../../components/common/NavBar.astro";
import QuipAI from "../../../../components/games/quip-ai/QuipAI";
import CoolBackground, { Color } from "../../../../components/common/CoolBackground";
import Layout from "../../../../layouts/Layout.astro";
import Seo from "../../../../components/seo/Seo.astro";
import seoImg from '/src/img/heroes/QUIP-AI.jpg';
import gamesData from "../../../../data/games/games.json";

export const prerender = false;
const { id } = Astro.params;
const heroText = gamesData["quip-ai"].heroText;
---

<Seo {heroText} pageName={'Quip AI'} path={`games/quip-ai/${id}`}/>

<link
  rel="stylesheet"
  type="text/css"
  charset="UTF-8"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
/>

<Layout>
  <div slot="main" class="min-h-screen h-auto flex flex-col bg-ne-700">
    <NavBar withDarkMode={false}/>
    <CoolBackground client:only="react" color={Color.SL}/>
    <div class="z-10">
      <QuipAI client:only="react" id={id || ""}/>
    </div>
  </div>
</Layout>